@media screen and (max-width: 600px) {
  .rrm-news-headline-image { display: none; }
}

.rrm-content-box-slate {
  background-color: rgba(230, 230, 230, 0.5);
  font-family: sans-serif;
  border-radius: 3px;
  border-color: rgba(60,60,60, 0.8);
  border-style: groove;
  padding-bottom: 1.5em;
  width: 70vw;
}

.rrm-content-box-header {
  color: #d7d7d7;
  background: rgba(0,0,0,0.8);
  border-bottom-color: rgba(60,60,60,0.8);
  spacing: 0;
  margin: 0;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  font-size: 3vmax;
  font-weight: bold;
}

.rrm-content-box-article{
  font-size: 1.15em;
  width: 100%;
}
