body {
  padding-top: 50vmin;
  padding-bottom: 12vmin;
}

.rrm-header {
  position: fixed;
  width: 100vw;
  /*height: 160px;*/
  top: 0;
  background: white;
  z-index: 10000;
}

.rrm-header > .brand {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 40vmax;
  height: 45vmin;
}

.rrm-menu-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: rgba(255,255,255,0.95);
  z-index: 9999;
  height: 10vh;

}

.rrm-menu-items {
  margin-left: auto;
  margin-right: auto;
  width: 40vmax;
  position: fixed;
  bottom: 3.5vh;
  left: 0;
  right: 0;
}

.rrm-menu-items > a {
  font-size: 2vw;
  font-weight: bold;
  color: #59c1b6;
  padding-left: 1.25vw;
  padding-right: 1.25vw;
}

.rrm-menu-desc {
  font-size: 1vw;
  font-weight: bold;
  font-style: oblique;
  color: #474747;
  margin-left: auto;
  margin-right: auto;
  width: 10vmax;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
